<%- include('header'); -%>
<div class="container">
    <!-- div class="container-fluid" -->
    <p>Welcome to the QA Test. When you're read get started</p>
    <p>The QA Test is sample website for you to use to show your skills and abilities Quality Assurance 
</div>
<%- include('footer'); -%>
